/* tslint:disable */
{{#refsImports}}
  import { {{type}} } from "./{{type}}"
{{/refsImports}}

export interface {{&name}} {
{{#properties}}
  {{#isArray}}
    {{name}}: any[];
  {{/isArray}}
  {{^isArray}}
    {{name}}: {{typescriptType}};
  {{/isArray}}
{{/properties}}

{{#refs}}
  {{#isArray}}
    {{name}}: {{typescriptType}}[];
  {{/isArray}}
  {{^isArray}}
    {{name}}: {{typescriptType}};
  {{/isArray}}
{{/refs}}
}
