<div class="content-wrapper">
    <div class="panel panel-primary no-radius">
        <div id="updatePanel" class="panel-heading  no-radius">
            {{(isCreateOrUpdate ? 'QUALIFICATIONS.CREATE_QUALIFICATIONS' : 'QUALIFICATIONS.UPDATE_QUALIFICATIONS') | translate }}
        </div>
        <div class="panel-body">
            <div class="row">
                    <form (ngSubmit)="onSubmit(qualificationsForm)" #qualificationsForm="ngForm" class="form-horizontal">
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label for="name"> {{ 'QUALIFICATIONS.NAME' | translate }}</label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="hidden" name="qualificationId" [(ngModel)]="qualificationsModel.qualificationId">
                                            <input type="text" class="full-input" id="qualifications" id="name" name="name" [(ngModel)]="qualificationsModel.name" required minlength="3"
                                                maxlength="20" element-validation>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                                <label for="description">{{ 'QUALIFICATIONS.DESCRIPTION' | translate }} </label>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="full-input" id="description" name="description" [(ngModel)]="qualificationsModel.description">
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12">
                        <button type="submit" id="btnSave" class="btn btn-primary blue-btn full-width" >{{ 'QUALIFICATIONS.SAVE' | translate }}</button>
                </div>
                </form>
            </div>
            <!-- <form (ngSubmit)="onSubmit(qualificationsForm)" #qualificationsForm="ngForm" class="form-horizontal">
                <label class="col-sm-2" for="name"> {{ 'QUALIFICATIONS.NAME' | translate }}</label>
                <div class="col-col-3">
                    <input type="hidden" name="qualificationId" [(ngModel)]="qualificationsModel.qualificationId">
                    <input type="text" class="col col-6" id="qualifications" id="name" name="name" [(ngModel)]="qualificationsModel.name" required minlength="3"
                        maxlength="20" element-validation>
                </div><br>
                <label class="col-sm-2" for="description">{{ 'QUALIFICATIONS.DESCRIPTION' | translate }} </label>
                <div class="form-group">
                    <input type="text" class="col-col-6" id="description" name="description" [(ngModel)]="qualificationsModel.description">
                </div>
                <button type="submit" id="btnSave" class="btn btn-primary" >{{ 'QUALIFICATIONS.SAVE' | translate }}</button>
            </form> -->
        </div>
    </div>


    <h3>{{ 'QUALIFICATION_DETAILS.QUALIFICATION_DETAILS' | translate }}</h3>
    <div class="table-responsive-top">
        <div class="table-responsive">
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width=400> {{ 'QUALIFICATION_DETAILS.QUALIFICATIONS' | translate }}</th>
                                <th width=400> {{ 'QUALIFICATION_DETAILS.DESCRIPTION' | translate }}</th>
                                <th width=400> {{ 'QUALIFICATION_DETAILS.ACTION' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let qualification of qualifications">
                                <td>{{qualification.name}}</td>
                                <td>{{qualification.description}}</td>
                                <td>
                                    <a class="btn btn-success no-radius" (click)="editQualifications(qualifications)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a class="btn btn-danger no-radius" (click)="deleteQualifications(qualifications)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                 </table>
        </div>
    </div>
    <div class="table-slide"><p>Slide to view table</p></div>
</div>
