
<!-- <ul class="nav navbar-nav">
    <li><a (click)="router.navigate(['Users'])">Users</a></li>
    <li><a (click)="router.navigate(['Skills'])">Skill</a></li>
    <li><a (click)="router.navigate(['Qualifications'])">Qualification</a></li>
    <li><a (click)="router.navigate(['openings'])">JobOpening</a></li>
</ul> -->

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-main gredient-one">
            <div class="pull-left"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="pull-right">
                <h4>1,359</h4>
                <p>Customers Online</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-main gredient-two">
            <div class="pull-left"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
            <div class="pull-right">
                <h4>$7,349.90</h4>
                <p>Today's Sales</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-main gredient-three">
            <div class="pull-left"><i class="fa fa-folder-open-o" aria-hidden="true"></i></div>
            <div class="pull-right">
                <h4>26</h4>
                <p>Open tickets</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card-main gredient-four">
            <div class="pull-left"><i class="fa fa-adjust" aria-hidden="true"></i></div>
            <div class="pull-right">
                <h4>7688</h4>
                <p>New Orders</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="g-map text-center">
            <img src="../assets/images/pie-chart.png" alt="Evry" title="Evry" style="width:50%;">
        </div>
    </div>
</div>
