<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card-main gredient-one">
                <div class="pull-left">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="pull-right">
                    <h4>1,359</h4>
                    <p>{{ 'DASHBOARD.OPEN' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card-main gredient-two">
                <div class="pull-left">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </div>
                <div class="pull-right">
                    <h4>$7,349.90</h4>
                    <p>{{ 'DASHBOARD.CLOSE' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card-main gredient-three">
                <div class="pull-left">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                </div>
                <div class="pull-right">
                    <h4>26</h4>
                    <p>{{ 'DASHBOARD.HIRED' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card-main gredient-three">
                <div class="pull-left">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                </div>
                <div class="pull-right">
                    <h4>26</h4>
                    <p>{{ 'DASHBOARD.CANDIDATEINTERVIEWED' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>