<div class="content-wrapper">
    <h2>{{ 'USER.LIST' | translate }}</h2>

    <input (keydown)="onKeydown($event)" (keyup)="clear()" class="search search-user" placeholder="{{ 'USER.SEARCH' | translate }}"
        name="listFilter" type="text" [(ngModel)]="listFilter" />
    <button [disabled]="!listFilter" type="submit" (click)="search()" class="btn">GO</button>

    <button title="Add" class="btn btn-primary pull-right blue-btn" (click)="addUser()">Add</button>
    <div class="clearfix"></div>
    <div class="table-responsive-top">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width=400 class="pointer" (click)="sort('FirstName')">
                            <span class="pull-left">{{ 'USER.FIRSTNAME' | translate }}</span>
                            <span class="arrow-gap">
                                <i class="fa" [ngClass]="{'fa-sort': searchAndSortModel.property !== 'FirstName', 
                    'fa-sort-asc': (searchAndSortModel.property === 'FirstName' && !isDesc), 
                    'fa-sort-desc': (searchAndSortModel.property === 'FirstName' && isDesc) }" aria-hidden="true">
                                </i>
                            </span>
                        </th>

                        <th width=400 class="pointer" (click)="sort('LastName')">
                            <span class="pull-left">{{ 'USER.LASTNAME' | translate}}</span>
                            <span class="arrow-gap">
                                <i class="fa" [ngClass]="{'fa-sort': searchAndSortModel.property !== 'LastName', 
                        'fa-sort-asc': (searchAndSortModel.property === 'LastName' && !isDesc), 
                        'fa-sort-desc': (searchAndSortModel.property === 'LastName' && isDesc) }" aria-hidden="true">
                                </i>
                            </span>
                        </th>

                        <th width=400 class="pointer" (click)="sort('Email')">
                            <span class="pull-left">{{ 'USER.EMAIL' | translate }}</span>
                            <span class="arrow-gap">
                                <i class="fa" [ngClass]="{'fa-sort': searchAndSortModel.property !== 'Email', 
                    'fa-sort-asc': (searchAndSortModel.property === 'Email' && !isDesc), 
                    'fa-sort-desc': (searchAndSortModel.property === 'Email' && isDesc) }" aria-hidden="true">
                                </i>
                            </span>
                        </th>
                        <th class="pull-left">{{ 'USER.ROLE' | translate }}
                            <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="users.length === 0; else rowTemplate">
                        <td></td>
                        <td align="center"> {{ 'USER.NORECORD' | translate }} </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <ng-template #rowTemplate>
                        <tr *ngFor="let user of users">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                            <td>
                                <button title="Delete" class="btn btn-danger no-radius btn-pad" (click)="deleteUser(user.userId)">{{ 'USER.DELETE' | translate }}</button>
                                <button title="Edit" class="btn btn-primary  blue-btn" (click)="updateUser(user.userId)">{{ 'USER.UPDATE' | translate }}</button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
    <div class="table-slide">
        <p>Slide to view table</p>
    </div>
</div>