<div class="content-wrapper">
    <h2>{{ 'USER.LIST' | translate }}</h2>
    <button  title="Add" class="btn btn-primary pull-right blue-btn" (click)="addUser()">Add</button>
    <div class="clearfix"></div>
     <div class="table-responsive-top">
       <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'USER.FIRSTNAME' | translate }}</th>
                <th>{{ 'USER.LASTNAME' | translate}}</th>
                <th>{{ 'USER.EMAIL' | translate }}</th>
                <th>{{ 'USER.ROLE' | translate }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button title="Delete" class="btn btn-danger no-radius btn-pad" (click)="deleteUser(user.userId)">{{ 'USER.DELETE' | translate }}</button>
                    <button title="Edit" class="btn btn-primary  blue-btn" (click)="updateUser(user.userId)">{{ 'USER.UPDATE' | translate }}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
