<div class="changepassword-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                    <div class="changepassword-area">
                        <h2 class="text-center">Change Password</h2>
                        <div class="row">
                            <form (ngSubmit)="onSubmit(changepasswordForm)" #changepasswordForm="ngForm">
                                <div class="col-xs-13">
                                    <div class="changepassword-mid">
                                        <div class="form-group" class="text-center">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input class="type-text" type="Password" required name="old_password" [(ngModel)]="changepasswordModel.oldPassword" id="oldPassword"
                                                    #oldPassword="ngModel" placeholder="Old Password" required>
                                                <div *ngIf="changePassword.errors && (changePassword.dirty || changePassword.touched)" [hidden]="!changePassword.errors.required"
                                                    class="validation-error">
                                                    Old Password Required </div>
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input class="type-text" type="Password" name="new_password" [(ngModel)]="changepasswordModel.newPassword" id="newPassword"
                                                    #newPassword="ngModel" placeholder="New Password" required>
                                                <div *ngIf="changePassword.errors && (changePassword.dirty || changePassword.touched)" [hidden]="!changePassword.errors.required"
                                                    class="validation-error">
                                                    New Password Required</div>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm New Password</label>
                                                <input class="type-text" type="password" name="confirm_new_password" [(ngModel)]="changepasswordModel.ConformNewPassword"
                                                    id="newPassword" #ConformNewPassword="ngModel" placeholder="Confirm New Password"
                                                    required>
                                                <div *ngIf="changePassword.errors && (changePassword.dirty || changePassword.touched)" [hidden]="!changePassword.errors.required"
                                                    class="validation-error">
                                                    Confirm New Required</div>
                                            </div>
                                            <div *ngIf="changePassword.controls['confirm_new_password'].hasError('passwordMatch') && changePassword.controls['confirm_new_password'].touched">
                                                Password mismatch</div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-default" [disabled]="!changePasswordForm.valid">Submit</button>
                                            <button type="cancel" class="btn btn-default" (click)="goBack()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>