
/*========= Color Variables =========*/

$blue-gredient:linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
$crimson-gredient: linear-gradient(-45deg, #ff9800, #f52882);   
$purple-gredient: linear-gradient(-45deg, #f52882, #7028b7);
$green-gredient: linear-gradient(-45deg, #00c8c8, #7028b7);
$white-gredient: linear-gradient(-45deg, #3a6186, #89253e);
$white-color:#ffffff;
$black-color:#202020;
$red-color:#f43a59;
$blue-bg:#063a54;
$light-blue:#6a8998;
$green-dark-color:#122f3b;


/*========= Width Variables =========*/

$small-screen:515px;
$mobile-screen:767px;
$ipad-screen:1024px;


/*========= Gap Variables =========*/

$pad15:15px;
$pad10:10px;
$no-margin:0px;
$no-padding:0px;


/*========= shadow Variables =========*/

$box-shadow:0px 0px 3px 1px rgba(130,130,130,1);
