
/*========= Color Variables =========*/

$login-bg:linear-gradient(-45deg, #ff9800, #f52882);
$white-color:#ffffff;
$black-color:#202020;
$blue-bg:#063a54;
$light-blue:#6a8998;


/*========= Width Variables =========*/

$small-screen:515px;
$mobile-screen:767px;
$ipad-screen:1024px;