
/*========= Color Variables =========*/

$blue-gredient:linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
$white-color:#ffffff;
$black-color:#202020;
$red-color:#f43a59;
$blue-bg:#063a54;
$light-blue:#6a8998;
$green-dark-color:#122f3b;


/*========= Width Variables =========*/

$small-screen:515px;
$mobile-screen:767px;
$ipad-screen:1024px;