<div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            Create skills 
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <label class="col-sm-2" for="name">skills Name:</label>
                <div class="col-col-3">
                    <input type="text" class="col col-6" id="skills" name="skills" [(ngModel)]="model.skills">
                </div>

                <label class="col-sm-2" for="description"> Description: </label>
                <div class="form-group">
                    <input type="text" class="col-col-6" id="description" name="description" [(ngModel)]="model.description">
                </div>
                <button type="button" class="btn btn-primary " (click)="addSkills()">Save</button>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <h3>skills details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width=400> skills</th>
                <th width=400> description</th>
                <th width=400> action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skills of skills; let i=index">
                <td>{{skills.skills}}</td>
                <td> {{skills.description}}</td>
                <td>
                    <a class="btn btn-success" (click)="editSkills(i)">
                        <p> <span class="glyphicon glyphicon-edit"></span></p>
                    </a>
                    <a class="btn btn-danger" (click)="deleteSkills(i)">
                        <p> <span class="glyphicon glyphicon-remove"></span></p>
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> {{msg}}
</div>