<aside class="side-bar">
    <ul>
        <li class="active"><a href="javascript:void(0)"> <i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a href="javascript:void(0)" (click)="router.navigate(['Users'])" routerLink="Users"> <i class="fa fa-users"></i> Users</a></li>
        <li><a href="javascript:void(0)" (click)="router.navigate(['Skills'])" routerLink="Skills"><i class="fa fa-asterisk"></i> Skill</a></li>
        <li><a href="javascript:void(0)" (click)="router.navigate(['Qualifications'])" routerLink="Qualifications"><i class="fa fa-graduation-cap"></i> Qualification</a></li>
        <li><a href="javascript:void(0)" (click)="router.navigate(['openings'])" routerLink="openings"><i class="fa fa-folder-open"></i> Job Opening</a></li>
    </ul>
</aside> 