@import "../../../styles/partials/variable.scss";

ul.nav-wizard {
    background-color: $white-color-one;
    border: 1px solid darken($border-color, 10%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
    &:before {
      position: absolute;
    }
    &:after {
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 138px;
      height: 47px;
      border-top: 1px solid darken($border-color, 10%);
      border-bottom: 1px solid darken($border-color, 10%);
      z-index: 11;
      content: " ";
    }
    li { 
        &:hover{
            &:before{
                border-left: 16px solid darken($border-color, 20%);
            }
            &:after{
                border-left: 16px solid darken($border-color, 20%);
            }
             background: darken($border-color, 20%);
        }
       
      position: relative;
      height: 46px;
      display: inline-block;
      text-align: center;
      padding: 0 20px 0 30px;
      margin: 0;
      font-size: 16px;
      line-height: 46px;
      a {
        color: $strip-blue;
        padding: 0;
        cursor: pointer;
        &:hover {
            color: $black-color;
          background-color: transparent;
        }
      }
      &:before {
        position: absolute;
        display: block;
        border: 24px solid transparent;
        border-left: 16px solid darken($border-color, 10%);
        border-right: 0;
        top: -1px;
        z-index: 10;
        content: '';
        right: -16px;
      }
      &:after {
        
        position: absolute;
        display: block;
        border: 24px solid transparent;
        border-left: 16px solid $white-color-one;
        border-right: 0;
        top: -1px;
        z-index: 10;
        content: '';
        right: -15px;
      }
      &.active {
        color: $strip-blue;
        background: darken($border-color, 5%);
        &:after {
          border-left: 16px solid darken($border-color, 5%);
        }
        a {
          color: darken($border-color, 30%);
          background: darken($border-color, 5%);
          &:active, &:visited, &:focus {
            color: darken($border-color, 30%);
            background: darken($border-color, 5%);
          }
        }
      }
    }
    .active ~ li {
      color: $grey-color;
      background: lighten($white-color-one, 30%);
      &:after {
        border-left: 16px solid lighten($white-color-one, 30%);
      }
      a {
        color: $grey-color;
        background: lighten($white-color-one, 30%);
        &:active, &:visited, &:focus {
          color: $grey-color;
          background: lighten($white-color-one, 30%);
        }
      }
    }

  }

  .top-info{    
      position: absolute;
      z-index: 999;
      top:71%;
      left:15px;
      padding:10px 0 0 0;
  }

.arrow-top{
    .blue-btn{
        &:nth-last-child(2){
            float:right;
        }
        margin-top:20px;
       float:left;
    }
    &:before{
        content: "";
        position: absolute;
        top: -28px;
        left:20px;
        z-index: 1;
        border: solid 15px transparent;
        border-bottom-color: $strip-blue;  
    }
    position: relative;
    background: $strip-blue;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
    min-width: 350px; 
    min-height:100px;
    padding:20px; 
    float: left;

}

.two-side{
    div{
        .blue-btn{
            &:last-child(1){
                text-align: right;
            }
        }
        width:50%;
        float:left;
    }
}

.tarea-inner{ resize: none; padding: 10px;}

.current{
  &:before{
      border-left: 16px solid darken($border-color, 20%) !important;
  }
  &:after{
      border-left: 16px solid darken($border-color, 20%) !important;
  }
    a{
      color:$black-color !important;
    }
  background: darken($border-color, 20%) !important ;
}


