<div class="forgotpassword-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="forgotpassword-area">
                <p class="heading ">{{ 'FORGOTPASSWORD.TITLE' | translate }}</p>
                <div class="row">
                    <form (ngSubmit)="onSubmit(forgotpasswordForm)" #forgotpasswordForm="ngForm">
                        <div class="col-xs-12">
                            <div class="forgotpassword-mid">
                                <div class="form-group">
                                    <label><b>{{ 'FORGOTPASSWORD.ENTERMAILID' | translate }}</b></label>
                                    <input class="emailId" type="email"  placeholder="User Mail Id" [(ngModel)]="userName" #userMailId="ngModel" maxlength="50" name="userMailId" required>
                                    <div *ngIf="userMailId.errors && (userMailId.dirty || userMailId.touched)" [hidden]="!userMailId.errors.required" class="validation-error">
                                        {{ 'FORGOTPASSWORD.REQUIRED' | translate }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="">
                                    <button id="bttn" type="submit" class="round-btn">{{ 'FORGOTPASSWORD.OK' | translate }}</button>
                                    <button type="button"  class="round-btn" (click)="goBack()">{{ 'FORGOTPASSWORD.CLOSE' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>