<div class="container">
    <div class="login panel panel-default">
        <div class="panelheader panel-heading">Login</div>
        <div class="panel-body">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div>
                    <label>{{ 'USER.USERNAME' | translate }}</label>

                    <div *ngIf="user.errors && (user.dirty || user.touched)" [hidden]="!user.errors.required" class="validation-error">
                        {{ 'USER.REQUIRED' | translate }}
                    </div>
                    <div>
                        <input style="text-transform: none;" type="text" required name="user" [(ngModel)]="loginModel.userEmail" #user="ngModel"
                            maxlength="25">
                    </div>
                </div>
                <div>
                    <label>{{ 'USER.PASSWORD' | translate }}</label>

                    <div *ngIf="pass.errors && (pass.dirty || pass.touched)" [hidden]="!pass.errors.required" class="validation-error">
                        {{ 'USER.REQUIRED' | translate }}
                    </div>
                    <div>
                        <input style="text-transform: none;" type="password" required name="pass" [(ngModel)]="loginModel.userPassword" #pass="ngModel"
                            maxlength="25">
                    </div>
                </div>
                <button id="bttn" type="submit" class="btn btn-primary">{{ 'USER.LOGIN' | translate }}</button>
            </form>
        </div>
    </div>
</div>