<div class='loading' spinner></div>
<header class="main-header" *ngIf="isTokenExist()">
        <div class="container-fluid">
            <div class="row">
                <app-header class="col-xs-12"></app-header>
            </div>
        </div>
    </header>

<div *ngIf="isTokenExist()">
    <!-- <app-header></app-header> -->
</div>

<left-sideBar></left-sideBar>    
<div class="content-wrapper"><router-outlet></router-outlet></div>

<app-footer *ngIf="isTokenExist()"></app-footer>

<toaster-container></toaster-container>
