.login-inner-bg{
    width:100%;
    float:left;
    background-image:url(../assets/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}


.content-wrapper{
    width:100%;
    float: left;
    padding:20px;
}


/*========= HEADER CSS STARTS HERE =========*/

.main-header{    
    .logo{
        margin:20px 0 14px;
        display: inline-block;
    }
    .top-nav{
        ul{
            li{
                a{
                    &:hover{
                        color:darken($light-blue, 20%);

                    }
                    color:$light-blue;
                    font-size: 14px;
                    text-decoration:none;
                    text-transform: uppercase;
                    display:block;
                    margin-top: 10px;
                }
                .name-img{
                    width:36px;
                    height:36px;
                    border-radius:50%;
                    background:lighten($light-blue, 10%);
                    text-transform: uppercase;
                    color: $white-color;
                    font-size: 14px;
                    text-align: center;
                    float: left;
                    line-height: 36px;
                }

                .profile-img{
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    width:36px;
                    height:36px;
                    border-radius:50%;
                    background:lighten($light-blue, 10%);
                    float: left;
                    overflow: hidden;
                }
                
                    .fa-cog{
                        font-size: 30px;
                        margin-top: 5px;
                    }
                    .dropdown-menu{
                        li{
                            a{
                             text-transform: capitalize;
                             padding:6px 20px;
                             font-size: 14px;
                             margin: 0;
                            }
                            margin:0;
                            width:100%;
                        }
                        top:56px;
                        border-top-left-radius:0px;
                        border-top-right-radius:0px;
                    }
                list-style: none;
                margin-left: 20px;
                float: left;
            }


            margin:0;
            padding:0;
        }
        margin:14px 0 10px;
    }
    background:$white-color;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300; margin-bottom:30px;}

    .top-badge{
    position: absolute;
    opacity: 1;
    top: -9px;
    right: -2px;
    background: $red-color;
    color: $white-color;
    display: block;
    padding: 2px 6px 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
    min-width: 20px;
    text-align: center;
    border: 3px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: opacity 0.225s ease-in-out;
    -moz-transition: opacity 0.225s ease-in-out;
    -o-transition: opacity 0.225s ease-in-out;
    transition: opacity 0.225s ease-in-out;
    }

.search-box{
    width:450px;
}


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:$red-color;
}

.search-query:focus + button {
    z-index: 3;   
}

/*========= HEADER CSS END HERE =========*/

/*========= FOOTER CSS START HERE =========*/

.footer-main{
    .footer-list{
        li{
            a{
                &:hover{
                    text-decoration: none;
                    color:lighten($white-color, 10%);
                }
                font-size: 15px;
                line-height: 18px;
                color:darken($white-color, 14%);
            }
            @media screen and(max-width:$small-screen) {
                display:block;
                margin: 10px 0;
            }
            margin: 10px 20px 10px 0;
            display: inline-block;
        }
        @media screen and(max-width:$small-screen) {
            text-align: left;
            margin: 0 0 20px;
        }
        .col-xs-12{
        @media screen and(max-width:$mobile-screen) {
            width:45%;  
        }
    }
        padding: 0;
        margin: 6px 0 0 0;
    }
    .footer-social{
        li{
            a{
                &:hover{
                    text-decoration:none;
                }
                svg{
                    @media screen and(max-width:$mobile-screen){
                        height: 30px;
                        width: 30px;
                    }
                    height: 40px;
                    width: 40px;
                    float: left;
                    margin-right: 15px;
                }
                span{
                    @media screen and(max-width:$ipad-screen){
                        margin-top: 5px;
                    }
                    margin-top: 10px;
                    color: $white-color;
                    float: left;
                }
                height: 30px;
                fill: $white-color;
                margin-bottom: 5px;
                padding: 10px 0;
            }
            @media screen and(max-width:$ipad-screen){
                margin:0 20px 0 0;
            }
            @media screen and(max-width:$mobile-screen){
                width:100%;
                float: left;
                margin: 0 0 10px 0;
            }                 
            @media screen and(max-width:$small-screen){
                display:block;
             }
            margin:0 0 0 20px;
            display: inline-block;
        }
        @media screen and(max-width:$small-screen){
           text-align: center;
        }
        margin: 0;
        padding: 0;
        float: right;
    }
    @media screen and(max-width:$mobile-screen){
        position: relative;
     }
    width:100%;
    float: left;
    background: $blue-bg;
    padding:20px 0 10px;
    margin: 40px 0 0 0;
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}

/*========= FOOTER CSS END HERE =========*/


