<div class="row">
        <div class="col-xs-12 app-list">
                <label>Approval History:</label>
                <ul>
                        <li *ngFor="let approvalResponseModel of approvalResponseModels">
                                <p>
                                        <span class="box-header"> {{approvalResponseModel.approvalActionName }} by </span> {{approvalResponseModel.firstName}}
                                        {{approvalResponseModel.lastName}} on
                                        <br> {{approvalResponseModel.actionPerformedDate | date: 'dd/MM/yyyy At  hh:mm:ss a'}}
                                </p>
                        </li>
                </ul>
        </div>
</div>