<!-- Strip secction -->
<div class="row">
<div class="col-xs-12">
<ul *ngIf="approvalEvents.length > 0" class="nav nav-wizard" [routerLinkActive]="['current']"> 
  <li *ngFor="let approvalEvent of approvalEvents" >
    <a (click)="onApprovalEventClick(approvalEvent)"> {{ approvalEvent.approvalEventName }}</a>
  </li>
</ul>

<!-- pop up section -->
<div class="top-info" id="pointer" *ngIf="approvalEvents.length">
  <div class="arrow-top">
    <textarea cols="5" rows="5" class="col-xs-12"></textarea>
  <div *ngIf="currentEventClicked != null">
    <div  *ngIf="currentEventClicked.approvalActions.length > 0" class="two-side">
        <div *ngFor="let approvalActions of currentEventClicked.approvalActions">
          <a (click)="onApprovalActionClick(approvalActions)" class="blue-btn no-radius" >{{approvalActions.approvalActionName }}
          </a>
        </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>