<div class="content-wrapper">
    <div class="panel panel-default no-radius">
        <div class="panelheader panel-heading no-radius">Add EventRole</div>
        <div class="panel-body">
            <form (ngSubmit)="onSubmit(eventRoleForm)" #eventRoleForm="ngForm">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>{{ 'EVENTROLE.APPROVAL' | translate }}</label>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select [(ngModel)]="approvalId" class="full-input" [ngModelOptions]="{standalone: true}" (change)="getApprovalEvents(approvalId)" required>
                                            <option *ngFor="let approval of approvals" [attr.value]="approval.approvalId">{{approval.approvalName}}</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label>{{ 'EVENTROLE.APPROVALEVENT' | translate }}</label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select [(ngModel)]="approvalEventRoleModel.approvalEventId" class="full-input" [ngModelOptions]="{standalone: true}" required>
                                                    <option *ngFor="let approvalEvent of approvalEvents" [attr.value]="approvalEvent.approvalEventId">{{approvalEvent.approvalEventName}}</option>
                                                </select>
                                    </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label>{{ 'EVENTROLE.ROLE' | translate }}</label>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select [(ngModel)]="approvalEventRoleModel.roleId" class="full-input" [ngModelOptions]="{standalone: true}" (change)="getUsers(approvalEventRoleModel.roleId)"
                                        required>
                                        <option *ngFor="let role of roles" [attr.value]="role.roleId">{{role.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div *ngIf="users.length > 0">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <label>{{ 'EVENTROLE.USERS' | translate }}*</label>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div *ngFor="let user of users">
                                                    <input type="checkbox" class="full-input" [checked]="user.isChecked" name="user" [attr.value]="user.userId" (change)="onChangeUsers(user, $event.target.checked)"
                                                    [name]="user.fullName" />
                                                <span innerHTML="{{user.fullName}}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <button id="bttn" type="submit" class="btn btn-primary blue-btn pull-right">{{ 'EVENTROLE.SAVE' | translate }}</button>

            </form>
        </div>
    </div>

        <h2>{{ 'EVENTROLE.LIST' | translate }}</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ 'EVENTROLE.APPROVALEVENT' | translate }}</th>
                    <th>{{ 'EVENTROLE.ROLE' | translate }}</th>
                    <th>{{ 'EVENTROLE.USERNAME' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventRole of approvalEventRoleModels">
                    <td>{{eventRole.approvalEvent}}</td>
                    <td>{{eventRole.role}}</td>
                    <td>{{eventRole.user}}</td>
                    <td>
                        <button title="Delete" class="btn btn-danger" (click)="deleteEventRole(eventRole.approvalEventRoleId)">{{ 'CANDIDATE.DELETE' | translate }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>